<div>
  <p>
    <%=t(:gl_gitlab_settings) %>
  </p>
  <p>
    <label> <%= t(:gl_endpoint) %> </label>
    <%= text_field_tag 'settings[endpoint]', @settings['endpoint'] %>
  </p>
  <p>
    <label> <%= t(:gl_private_token) %> </label>
    <%= text_field_tag 'settings[private_token]', @settings['private_token'] %>
  </p>
</div>
